.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/

intro-to-tensorflow/notMNIST_test.zip
intro-to-tensorflow/notMNIST_train.zip
intro-to-tensorflow/notMNIST.pickle
